<a href="https://colab.research.google.com/github/Sneazeanise/Data_Analytics_micro_cred_winter_2022/blob/main/Python/Class_Testing_and_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
message = "Hi Jim, how's your day today?" 
print(message)

Hi Jim, how's your day today?

In [ ]:
first_name = "Jim"
last_name = "Jones"
full_name = first_name + " " + last_name
print(first_name)
print(last_name)
print(full_name)

Jim
Jones
Jim Jones

In [ ]:
game = "fortnite battle royal"
print(game.lower())
print(game.upper())

fortnite battle royal
FORTNITE BATTLE ROYAL

In [ ]:
x = 5
y = 12
z = 15
g = 2
x * y / x * (z + y) * x**g

8100.0

In [ ]:
number = 2022
speak = "when you realise " + str(number) + " is just 2020 too..."
print(speak)

when you realise 2022 is just 2020 too...

In [ ]:
a=True 
b=False
output = (" your a Monster ")
a = (" Pizza")
b = ("Pineapple ")
print(a+b)

 PizzaPineapple

In [ ]:
a = [4, 7, 3, 5, 9]
print

##Lists, range, and for commands

In [ ]:
movies = ["star wars: the clone wars", "spongebob", "adventure time", "phineas & ferb", "regular show"]
print(movies)
x = sorted(movies)
print(x)
movies.sort()
print(movies)
y = sorted(movies, reverse=True)
print(y)
len(movies)
print("I have " + str(len(movies)) + " favorite movies")

['star wars: the clone wars', 'spongebob', 'adventure time', 'phineas & ferb', 'regular show']
['adventure time', 'phineas & ferb', 'regular show', 'spongebob', 'star wars: the clone wars']
['adventure time', 'phineas & ferb', 'regular show', 'spongebob', 'star wars: the clone wars']
['star wars: the clone wars', 'spongebob', 'regular show', 'phineas & ferb', 'adventure time']
I have 5 favorite movies

In [ ]:
tvshows = ['stranger things', 'regular show', 'chowder', 'spongebob', 'game of thrones']
for show in tvshows:
    print(show)

stranger things
regular show
chowder
spongebob
game of thrones

In [ ]:
tvshows = ['stranger things', 'regular show', 'chowder', 'spongebob', 'game of thrones']
for show in tvshows:
    print(show.title() + ", is a great TV show.")
print("I love these show")

Stranger Things, is a great TV show.
Regular Show, is a great TV show.
Chowder, is a great TV show.
Spongebob, is a great TV show.
Game Of Thrones, is a great TV show.
I love these show

In [ ]:
nums = list(range(0, 20, 2))
print(nums)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
odd_number = list(range(1,20, 2))
print(odd_number)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
even_number = list(range(0, 20, 2))
print(even_number)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
nums = list(range(0, 20, 2))
print(nums)

print(min(nums))

print(max(nums))

print(sum(nums))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
0
18
90

In [ ]:
tvshows = ['stranger things', 'regular show', 'chowder', 'spongebob', 'game of thrones']
tvshows.sort()
print(tvshows)

['chowder', 'game of thrones', 'regular show', 'spongebob', 'stranger things']

##Lists, if, for, else, and elif command functions

In [ ]:
we = ['me', 'my', 'moe']
print(we[0:3])
print(we[2:3])

['me', 'my', 'moe']
['moe']

In [ ]:
tvshows = ['stranger things', 'regular show', 'chowder', 'spongebob', 'game of thrones']
for shows in tvshows[:3]:
    print(shows.title())

Stranger Things
Regular Show
Chowder

In [ ]:
tvshows = ['stranger things', 'regular show', 'chowder', 'spongebob', 'game of thrones']
for shows in tvshows[3:5]:
  print(shows.title())

Spongebob
Game Of Thrones

In [ ]:
#Example of conditional operations
motorcycles = ['ducati', 'bmw', 'yamaha', 'honda']
for bike in motorcycles:
  if bike =='ducati':
    print(bike.upper())
  else:
    print(bike.lower())

DUCATI
bmw
yamaha
honda

In [ ]:
patient_exam = 'echo'
if patient_exam != 'ecg':
  print('incorrect exam!')

incorrect exam!

In [ ]:
readmit_days_after_discharge = 29
if readmit_days_after_discharge < 30:
    print("Patient was readmited within 30 days")
else:
    print("Patient was readmited after 30 days")

Patient was readmited within 30 days

In [ ]:
x ='Hello'
y ='hello'
if x == y:
  print('Equall')
else:
  print('Not equall')

Not equall

In [ ]:
toppings = ['chocolate', 'sprinkels']

for topping in toppings:
  if topping == 'chocolate':
    print("All out of chocolate!")
  else:
    print("Adding the following topping! " + topping)

All out of chocolate!
Adding the following topping! sprinkels

In [ ]:
login = ['Big Smoke247', 'RunningHampster389', 'username256', 'John on the Job', 'Enrique', 'BadKarma']
for user in login:
  if user == 'Big Smoke247':
    print('Welcome your higness, to your magnificent kingdom mr./mrs. ' + user)
  else:
    print('Welcome user ' + user)

Welcome your higness, to your magnificent kingdom mr./mrs. Big Smoke247
Welcome user RunningHampster389
Welcome user username256
Welcome user John on the Job
Welcome user Enrique
Welcome user BadKarma

In [ ]:
# lesson 5 question 2 draft
numbers = [1,2,3,4,5,6,7,8,9,10]

print(numbers)


for num in numbers:
  if num == 1:
    print(str(num) + 'st')
  elif num == 2:
    print(str(num) + 'nd')
  elif num == 3:
    print(str(num) + 'rd')
  else:
    print(str(num) + 'th')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1st
2nd
3rd
4th
5th
6th
7th
8th
9th
10th

##Dictionaries and lists

In [ ]:
test_1 = {'Jim': '12', 'William': '25', 'Steve': '19'}
print(test_1['Jim'])
print(test_1['William'])
print(test_1['Steve'])
test_1 [ 'MRN' ] = '000000'
test_1 [ 'Last_exam' ] = 'echo'
test_1

12
25
19

{'Jim': '12',
 'Last_exam': 'echo',
 'MRN': '000000',
 'Steve': '19',
 'William': '25'}

In [ ]:
data={
    "patient_1":{
        'first_name':'Jean',
        'Last_name':'picard'
    },
    
    "patient_2":{'first_name':'Jeffery',
               'Last_name':'monib'
    }
}
print(data)
{'patient_1': {'first_name': 'Jean', 'Last_name': 'picard'}, 'patient_2': {'first_name': 'Jeffery', 'Last_name': 'monib'}}

{'patient_1': {'first_name': 'Jean', 'Last_name': 'picard'}, 'patient_2': {'first_name': 'Jeffery', 'Last_name': 'monib'}}

{'patient_1': {'Last_name': 'picard', 'first_name': 'Jean'},
 'patient_2': {'Last_name': 'monib', 'first_name': 'Jeffery'}}

In [ ]:
dictionary_1 = {
        'first_name':'tim', 
        'last_name': 'tom',
        'cty': '12345679',
        'dob': '12311995'
}
print(dictionary_1)

{'first_name': 'tim', 'last_name': 'tom', 'cty': '12345679', 'dob': '12311995'}

In [ ]:
name = {'first_name': 'fred', 'last_name': 'simmons'}
C = name['first_name']
B = name['last_name']

print("Hello " + C + " " + B + ", how's your day today?")

Hello fred simmons, how's your day today?

In [ ]:
data = {
    "person_1": {
        'first_name':'Abraham',
        'last_name':'James',
        'age':'24'
    },

    "person_2": {
        'first_name':'Jeffery',
        'last_name':'Simmons',
        'age':'28'
    },
    "person_3": {
        'first_name':'Ali',
        'last_name':'Tammy',
        'age':'32'
    },
    "person_4": {
        'first_name':'John',
        'last_name':'Marry',
        'age':'30'
    },
    "person_5": {
        'first_name':'Patrick',
        'last_name':'Joe',
        'age':'18'
    }
}
for f in data:
  print(data[f])

{'first_name': 'Abraham', 'last_name': 'James', 'age': '24'}
{'first_name': 'Jeffery', 'last_name': 'Simmons', 'age': '28'}
{'first_name': 'Ali', 'last_name': 'Tammy', 'age': '32'}
{'first_name': 'John', 'last_name': 'Marry', 'age': '30'}
{'first_name': 'Patrick', 'last_name': 'Joe', 'age': '18'}

##Nested Dictionary

In [ ]:
Top_Rated_Games={1:{'game': 'half life 2', 'release': 'November 16, 2004', 'rating': '9.7/10 IGN'},
                 2:{'game': 'minecraft', 'release': 'November 18, 2011', 'rating': '9/10 IGN'},
                 3:{'game': 'super mario 64', 'release': 'June 23, 1996', 'rating': '9.8/10 IGN'}}

for game_info, rating_info in Top_Rated_Games.items():
  print("\ngame: ", game_info)

  for key in rating_info:
    print(key + ':', rating_info[key])

game:  1
game: half life 2
release: November 16, 2004
rating: 9.7/10 IGN

game:  2
game: minecraft
release: November 18, 2011
rating: 9/10 IGN

game:  3
game: super mario 64
release: June 23, 1996
rating: 9.8/10 IGN

In [ ]:
Top_Rated_Games={1:{'game': 'half life 2', 'release': 'November 16, 2004', 'rating': '9.7/10 IGN'},
                 2:{'game': 'minecraft', 'release': 'November 18, 2011', 'rating': '9/10 IGN'},
                 3:{'game': 'super mario 64', 'release': 'June 23, 1996', 'rating': '9.8/10 IGN'}}
p_f_g = Top_Rated_Games['rating']


for game_info, rating_info in Top_Rated_Games.items():
  print("\ngame: ", game_info)

  for key in rating_info:
    print(key + ':', rating_info[key])

personal_fav_games = ['minecraft', 'half life 2']
for f in personal_fav_games:
   print(rating_info)

   if f in personal_fav_games:
       print("One of the greatest's games ever made in my opinion, it was even rated a, " + p_f_g + " by IGN")

KeyError: ignored

##Keys and Values

In [ ]:
data = {
        'first_name':'Abraham',
        'last_name':'James',
        'age':'24',
        'gender':'male'
}
for key, value in data.items():
  print("\nkey: " + key)
  print("\nvalue: " + value)

key: first_name

value: Abraham

key: last_name

value: James

key: age

value: 24

key: gender

value: male

In [ ]:
ppl_1 = {'John': 30, 'Mary': 21, 'Bob': 43, 'Dan': 38, 'Edward': 29}
print(ppl_1['John'])
print(ppl_1['Mary'])
print(ppl_1['Bob'])
print(ppl_1['Dan'])
print(ppl_1['Edward'])

30
21
43
38
29

In [ ]:
Dictionaty_10 = {'Grape': 'is a fruit that can come in different colors','Python': 'Is a programming language use to code and analyze data', 'Google': "Google is a search Engine"}
for i in Dictionaty_10:
  print(i + ": "+ Dictionaty_10[i])

Grape: is a fruit that can come in different colors
Python: Is a programming language use to code and analyze data
Google: Google is a search Engine

In [ ]:
# (while loop) this is different from the 'for' loop by being undetermindable until the value is met
number = 1
while number <= 5:
  print(number)
  number+=1

1
2
3
4
5

##Messages and interactive messages

In [ ]:
message = input("please enter your first name ")
print(message)
age = input("please enter your age ")
print(age)

please enter your first name Bob
Bob
please enter your age 21
21

In [ ]:
prompt = "input a message. I will repeat it unti you type 'quit'"
message = ""

while message != 'quit':
    message = input(prompt)
    print(message)

input a message. I will repeat it unti you type 'quit'quit
quit

In [ ]:
prompt = "input a message. I will repeat it unti you type 'quit'"
message = ""


active = True
while active:
  message = input(prompt)

  if message == 'quit':
      active = False

  else:
    print(message)

input a message. I will repeat it unti you type 'quit'quit

##Functions

In [ ]:
def my_function(age):
  """This function displays age"""
age = 24
print("my name is Sam, and I am " + str(age) + " years old.")

my name is Sam, and I am 24 years old.

In [ ]:
def person(num):
  """This function displays a greeting"""
  text = "My name is john, and I am {} years old"
  print(text.format(num))
  print("Hello there my name is john, I am " + str(num) + " years old")
num=20
person(num)

My name is john, and I am 20 years old
Hello there my name is john, I am 20 years old

In [ ]:
def greeting(first_name, last_name, old=21):
  """Greeting someone by their first and last name, and their age"""
  print("Hello there my name " + first_name +  "" + last_name )
  print("I am " + str(old) + ", years old")
greeting(first_name = 'Phill', last_name = ' Stone')
greeting(old = 29, first_name = 'Joe', last_name = ' John')
greeting(old = 32, first_name = 'Carlos', last_name = ' Smith')

Hello there my name Phill Stone
I am 21, years old
Hello there my name Joe John
I am 29, years old
Hello there my name Carlos Smith
I am 32, years old

In [ ]:
def my_function(state , country = "United States"):
  print("This state , " + state + " , is in the " + country)

my_function("New York")
my_function("New Jersey")
my_function("Florida")

This state , New York , is in the United States
This state , New Jersey , is in the United States
This state , Florida , is in the United States

##Numpy

In [ ]:
import numpy as np

In [ ]:
np_city = np.array([1,2,3,])
print(np_city)

[1 2 3]

In [ ]:
import numpy as np
num = np.array([1, 2, 3, 4, 5, 6, 7, 1, 2, 4, 7, 5, 7])
print(np.max(num))
print(np.min(num))
print(np.mean(num))
print(np.median(num))

7
1
4.153846153846154
4.0

In [ ]:
# Get the max and indices of maximum element in numpy array
import numpy as np
num = np.array([11, 12, 13, 14, 15, 16, 17, 15, 11, 12, 14, 15, 16, 17])
result = np.where(num== np.max(num))
print('return max value',np.max(num))
print('Returned tuple of arrays :', result)
print('List of Indices of maximum element :', result[0])

return max value 17
Returned tuple of arrays : (array([ 6, 13]),)
List of Indices of maximum element : [ 6 13]

##pandas

In [ ]:
#Example

#Create a simple Pandas Series from a list:

import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

print(myvar[1])

0    1
1    7
2    2
dtype: int64
7

random numbers

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(123)

df = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E',], ['W', 'X', 'Y', 'Z'])
columns=['W','X','Y','Z']
df[columns]
df['new'] = df['W'] + df['Y']
df

          W         X         Y         Z       new
A -1.085631  0.997345  0.282978 -1.506295 -0.802652
B -0.578600  1.651437 -2.426679 -0.428913 -3.005279
C  1.265936 -0.866740 -0.678886 -0.094709  0.587050
D  1.491390 -0.638902 -0.443982 -0.434351  1.047408
E  2.205930  2.186786  1.004054  0.386186  3.209984

In [ ]:
columns=['Y','Z'] # here where you can add any columns you wanted to be printed
df[columns] # here you feed df by the variable columns

In [ ]:
#Filtering
import numpy as np
import pandas as pd
from numpy.random import randn
np.random.seed(123)

df = pd.DataFrame(randn(5, 4), ['A', 'B', 'C', 'D', 'E',], ['W', 'X', 'Y', 'Z'])
columns=['W','X','Y','Z']
df['new'] = df['W'] + df['Y']
df[df['Z']<0]

          W         X         Y         Z       new
A -1.085631  0.997345  0.282978 -1.506295 -0.802652
B -0.578600  1.651437 -2.426679 -0.428913 -3.005279
C  1.265936 -0.866740 -0.678886 -0.094709  0.587050
D  1.491390 -0.638902 -0.443982 -0.434351  1.047408

In [ ]:
import pandas as pd
import numpy as np

##Big Data

In [ ]:
faithful_df = pd.read_csv('https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/faithful.csv', index_col=0)

In [ ]:
type(faithful_df)

pandas.core.frame.DataFrame

In [ ]:
faithful_df.shape

(272, 2)

In [ ]:
print(faithful_df)

     eruptions  waiting
1        3.600       79
2        1.800       54
3        3.333       74
4        2.283       62
5        4.533       85
..         ...      ...
268      4.117       81
269      2.150       46
270      4.417       90
271      1.817       46
272      4.467       74

[272 rows x 2 columns]

In [ ]:
faithful_df.count()

eruptions    272
waiting      272
dtype: int64

In [ ]:
faithful_df.describe()

        eruptions     waiting
count  272.000000  272.000000
mean     3.487783   70.897059
std      1.141371   13.594974
min      1.600000   43.000000
25%      2.162750   58.000000
50%      4.000000   76.000000
75%      4.454250   82.000000
max      5.100000   96.000000

In [ ]:
faithful_df.min()

eruptions     1.6
waiting      43.0
dtype: float64

In [ ]:
faithful_df.max()

eruptions     5.1
waiting      96.0
dtype: float64

In [ ]:
faithful_df.mean()

eruptions     3.487783
waiting      70.897059
dtype: float64

In [ ]:
pd.pivot_table(faithful_df, index = ['eruptions'])

             waiting
eruptions
1.600      52.000000
1.667      64.000000
1.700      59.000000
1.733      54.000000
1.750      52.666667
...              ...
4.933      86.666667
5.000      88.000000
5.033      77.000000
5.067      76.000000
5.100      96.000000

[126 rows x 1 columns]

In [ ]:
#Raw Data
"","eruptions","waiting"
"1",3.6,79
"2",1.8,54
"3",3.333,74
"4",2.283,62
"5",4.533,85
"6",2.883,55
"7",4.7,88
"8",3.6,85
"9",1.95,51
"10",4.35,85
"11",1.833,54
"12",3.917,84
"13",4.2,78
"14",1.75,47
"15",4.7,83
"16",2.167,52
"17",1.75,62
"18",4.8,84
"19",1.6,52
"20",4.25,79
"21",1.8,51
"22",1.75,47
"23",3.45,78
"24",3.067,69
"25",4.533,74
"26",3.6,83
"27",1.967,55
"28",4.083,76
"29",3.85,78
"30",4.433,79
"31",4.3,73
"32",4.467,77
"33",3.367,66
"34",4.033,80
"35",3.833,74
"36",2.017,52
"37",1.867,48
"38",4.833,80
"39",1.833,59
"40",4.783,90
"41",4.35,80
"42",1.883,58
"43",4.567,84
"44",1.75,58
"45",4.533,73
"46",3.317,83
"47",3.833,64
"48",2.1,53
"49",4.633,82
"50",2,59
"51",4.8,75
"52",4.716,90
"53",1.833,54
"54",4.833,80
"55",1.733,54
"56",4.883,83
"57",3.717,71
"58",1.667,64
"59",4.567,77
"60",4.317,81
"61",2.233,59
"62",4.5,84
"63",1.75,48
"64",4.8,82
"65",1.817,60
"66",4.4,92
"67",4.167,78
"68",4.7,78
"69",2.067,65
"70",4.7,73
"71",4.033,82
"72",1.967,56
"73",4.5,79
"74",4,71
"75",1.983,62
"76",5.067,76
"77",2.017,60
"78",4.567,78
"79",3.883,76
"80",3.6,83
"81",4.133,75
"82",4.333,82
"83",4.1,70
"84",2.633,65
"85",4.067,73
"86",4.933,88
"87",3.95,76
"88",4.517,80
"89",2.167,48
"90",4,86
"91",2.2,60
"92",4.333,90
"93",1.867,50
"94",4.817,78
"95",1.833,63
"96",4.3,72
"97",4.667,84
"98",3.75,75
"99",1.867,51
"100",4.9,82
"101",2.483,62
"102",4.367,88
"103",2.1,49
"104",4.5,83
"105",4.05,81
"106",1.867,47
"107",4.7,84
"108",1.783,52
"109",4.85,86
"110",3.683,81
"111",4.733,75
"112",2.3,59
"113",4.9,89
"114",4.417,79
"115",1.7,59
"116",4.633,81
"117",2.317,50
"118",4.6,85
"119",1.817,59
"120",4.417,87
"121",2.617,53
"122",4.067,69
"123",4.25,77
"124",1.967,56
"125",4.6,88
"126",3.767,81
"127",1.917,45
"128",4.5,82
"129",2.267,55
"130",4.65,90
"131",1.867,45
"132",4.167,83
"133",2.8,56
"134",4.333,89
"135",1.833,46
"136",4.383,82
"137",1.883,51
"138",4.933,86
"139",2.033,53
"140",3.733,79
"141",4.233,81
"142",2.233,60
"143",4.533,82
"144",4.817,77
"145",4.333,76
"146",1.983,59
"147",4.633,80
"148",2.017,49
"149",5.1,96
"150",1.8,53
"151",5.033,77
"152",4,77
"153",2.4,65
"154",4.6,81
"155",3.567,71
"156",4,70
"157",4.5,81
"158",4.083,93
"159",1.8,53
"160",3.967,89
"161",2.2,45
"162",4.15,86
"163",2,58
"164",3.833,78
"165",3.5,66
"166",4.583,76
"167",2.367,63
"168",5,88
"169",1.933,52
"170",4.617,93
"171",1.917,49
"172",2.083,57
"173",4.583,77
"174",3.333,68
"175",4.167,81
"176",4.333,81
"177",4.5,73
"178",2.417,50
"179",4,85
"180",4.167,74
"181",1.883,55
"182",4.583,77
"183",4.25,83
"184",3.767,83
"185",2.033,51
"186",4.433,78
"187",4.083,84
"188",1.833,46
"189",4.417,83
"190",2.183,55
"191",4.8,81
"192",1.833,57
"193",4.8,76
"194",4.1,84
"195",3.966,77
"196",4.233,81
"197",3.5,87
"198",4.366,77
"199",2.25,51
"200",4.667,78
"201",2.1,60
"202",4.35,82
"203",4.133,91
"204",1.867,53
"205",4.6,78
"206",1.783,46
"207",4.367,77
"208",3.85,84
"209",1.933,49
"210",4.5,83
"211",2.383,71
"212",4.7,80
"213",1.867,49
"214",3.833,75
"215",3.417,64
"216",4.233,76
"217",2.4,53
"218",4.8,94
"219",2,55
"220",4.15,76
"221",1.867,50
"222",4.267,82
"223",1.75,54
"224",4.483,75
"225",4,78
"226",4.117,79
"227",4.083,78
"228",4.267,78
"229",3.917,70
"230",4.55,79
"231",4.083,70
"232",2.417,54
"233",4.183,86
"234",2.217,50
"235",4.45,90
"236",1.883,54
"237",1.85,54
"238",4.283,77
"239",3.95,79
"240",2.333,64
"241",4.15,75
"242",2.35,47
"243",4.933,86
"244",2.9,63
"245",4.583,85
"246",3.833,82
"247",2.083,57
"248",4.367,82
"249",2.133,67
"250",4.35,74
"251",2.2,54
"252",4.45,83
"253",3.567,73
"254",4.5,73
"255",4.15,88
"256",3.817,80
"257",3.917,71
"258",4.45,83
"259",2,56
"260",4.283,79
"261",4.767,78
"262",4.533,84
"263",1.85,58
"264",4.25,83
"265",1.983,43
"266",2.25,60
"267",4.75,75
"268",4.117,81
"269",2.15,46
"270",4.417,90
"271",1.817,46
"272",4.467,74

('272', 4.467, 74)

In [ ]:
#To print the hole data set :
pd.set_option("display.max_rows", None, "display.max_columns", None)
print(faithful_df)
#Where faithful_df) is your data frame name

     eruptions  waiting
1        3.600       79
2        1.800       54
3        3.333       74
4        2.283       62
5        4.533       85
6        2.883       55
7        4.700       88
8        3.600       85
9        1.950       51
10       4.350       85
11       1.833       54
12       3.917       84
13       4.200       78
14       1.750       47
15       4.700       83
16       2.167       52
17       1.750       62
18       4.800       84
19       1.600       52
20       4.250       79
21       1.800       51
22       1.750       47
23       3.450       78
24       3.067       69
25       4.533       74
26       3.600       83
27       1.967       55
28       4.083       76
29       3.850       78
30       4.433       79
31       4.300       73
32       4.467       77
33       3.367       66
34       4.033       80
35       3.833       74
36       2.017       52
37       1.867       48
38       4.833       80
39       1.833       59
40       4.783       90
41       4.350       80
42       1.883       58
43       4.567       84
44       1.750       58
45       4.533       73
46       3.317       83
47       3.833       64
48       2.100       53
49       4.633       82
50       2.000       59
51       4.800       75
52       4.716       90
53       1.833       54
54       4.833       80
55       1.733       54
56       4.883       83
57       3.717       71
58       1.667       64
59       4.567       77
60       4.317       81
61       2.233       59
62       4.500       84
63       1.750       48
64       4.800       82
65       1.817       60
66       4.400       92
67       4.167       78
68       4.700       78
69       2.067       65
70       4.700       73
71       4.033       82
72       1.967       56
73       4.500       79
74       4.000       71
75       1.983       62
76       5.067       76
77       2.017       60
78       4.567       78
79       3.883       76
80       3.600       83
81       4.133       75
82       4.333       82
83       4.100       70
84       2.633       65
85       4.067       73
86       4.933       88
87       3.950       76
88       4.517       80
89       2.167       48
90       4.000       86
91       2.200       60
92       4.333       90
93       1.867       50
94       4.817       78
95       1.833       63
96       4.300       72
97       4.667       84
98       3.750       75
99       1.867       51
100      4.900       82
101      2.483       62
102      4.367       88
103      2.100       49
104      4.500       83
105      4.050       81
106      1.867       47
107      4.700       84
108      1.783       52
109      4.850       86
110      3.683       81
111      4.733       75
112      2.300       59
113      4.900       89
114      4.417       79
115      1.700       59
116      4.633       81
117      2.317       50
118      4.600       85
119      1.817       59
120      4.417       87
121      2.617       53
122      4.067       69
123      4.250       77
124      1.967       56
125      4.600       88
126      3.767       81
127      1.917       45
128      4.500       82
129      2.267       55
130      4.650       90
131      1.867       45
132      4.167       83
133      2.800       56
134      4.333       89
135      1.833       46
136      4.383       82
137      1.883       51
138      4.933       86
139      2.033       53
140      3.733       79
141      4.233       81
142      2.233       60
143      4.533       82
144      4.817       77
145      4.333       76
146      1.983       59
147      4.633       80
148      2.017       49
149      5.100       96
150      1.800       53
151      5.033       77
152      4.000       77
153      2.400       65
154      4.600       81
155      3.567       71
156      4.000       70
157      4.500       81
158      4.083       93
159      1.800       53
160      3.967       89
161      2.200       45
162      4.150       86
163      2.000       58
164      3.833       78
165      3.500       66
166      4.583       76
167      2.367       63
168      5.000       88
169      1.933       52
170      4.617       93
171      1.917       49
172      2.083       57
173      4.583       77
174      3.333       68
175      4.167       81
176      4.333       81
177      4.500       73
178      2.417       50
179      4.000       85
180      4.167       74
181      1.883       55
182      4.583       77
183      4.250       83
184      3.767       83
185      2.033       51
186      4.433       78
187      4.083       84
188      1.833       46
189      4.417       83
190      2.183       55
191      4.800       81
192      1.833       57
193      4.800       76
194      4.100       84
195      3.966       77
196      4.233       81
197      3.500       87
198      4.366       77
199      2.250       51
200      4.667       78
201      2.100       60
202      4.350       82
203      4.133       91
204      1.867       53
205      4.600       78
206      1.783       46
207      4.367       77
208      3.850       84
209      1.933       49
210      4.500       83
211      2.383       71
212      4.700       80
213      1.867       49
214      3.833       75
215      3.417       64
216      4.233       76
217      2.400       53
218      4.800       94
219      2.000       55
220      4.150       76
221      1.867       50
222      4.267       82
223      1.750       54
224      4.483       75
225      4.000       78
226      4.117       79
227      4.083       78
228      4.267       78
229      3.917       70
230      4.550       79
231      4.083       70
232      2.417       54
233      4.183       86
234      2.217       50
235      4.450       90
236      1.883       54
237      1.850       54
238      4.283       77
239      3.950       79
240      2.333       64
241      4.150       75
242      2.350       47
243      4.933       86
244      2.900       63
245      4.583       85
246      3.833       82
247      2.083       57
248      4.367       82
249      2.133       67
250      4.350       74
251      2.200       54
252      4.450       83
253      3.567       73
254      4.500       73
255      4.150       88
256      3.817       80
257      3.917       71
258      4.450       83
259      2.000       56
260      4.283       79
261      4.767       78
262      4.533       84
263      1.850       58
264      4.250       83
265      1.983       43
266      2.250       60
267      4.750       75
268      4.117       81
269      2.150       46
270      4.417       90
271      1.817       46
272      4.467       74

In [ ]:
my_ series =

In [ ]:
import matplotib.pyplot as plt 
%matplotib inline

ModuleNotFoundError: ignored

In [ ]:
pd.set_option("display.max_rows", none, "display.max_columns", none)

NameError: ignored

In [ ]:
new_faithful=faithful_df
new_faithful.head(5)
new_faithful.drop('Created Date', axis = 1, inplace = True)
new_faithful

KeyError: ignored

In [ ]:
df.groupby(by='sex')
#If you want for male 
df("sex=='Male'")
#Sorry I forgot ;
df.query("sex=='Male'")['salary'].mean()
#After groupby
df_mean = df["sex"].mean()
print(df_mean)

NameError: ignored